.divider {
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    &:before,
    &:after {
        content: "";
        flex: 1;
    }
}

.line {
    align-items: center;
    margin: 1em -1em;
    color: #cccccc;
    &:before,
    &:after {
        height: 1px;
        margin: 0 1em;
    }
}

.one-line {
    &:before,
    &:after {
        background: #ffdb1f;
    }
}

.auth-form ion-grid,
.auth-form ion-row {
    height: 100%;
    justify-content: center;
}

.already {
    display: block;
    text-align: center;
    padding-bottom: 10px;
    color: #cccccc;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    background-image: url("../../assets/icon/labelscoin.png");
    margin-left: auto;
    margin-right: auto;
    margin-top: 2cm;
    
    height: 150px;
    background-position: center;
   
}

.sfondo {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    --background: linear-gradient(#000000, #333030d0);
}

ion-grid {
    padding: 50px;
}

button {
    background: transparent;
    outline: 5;
    border: 2px solid white;
    border-radius: 25px;
    width: 300px;
    height: 50px;
}

button:active {
    background: #ffdb1f44;
}

.version {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    text-align: center;
    font-size: 17px;
    margin-top: auto;
    margin-bottom: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}