<meta name="viewport" content="width=device-width, initial-scale=1.0">
<ion-content class="sfondo">
    <p class="logo">

    </p>
    <ion-row>
        <ion-grid>
            <ion-col>
                <button fill="outline" mode="ios" mode="md" class="center" [routerLink]="['/login']">
          <h1>
            ACCEDI
          </h1>
        </button>

                <span class="divider line one-line"> or </span>

                <span class="already">Not Registered?</span>
                <button fill="outline" mode="ios" mode="md" class="center" [routerLink]="['/choice-account']">
          <h1>
            REGISTRATI
          </h1>
        </button>
            </ion-col>
        </ion-grid>
    </ion-row>
    <p class="version">
        Labelscoin Blockchain </p>
</ion-content>