<ion-toolbar>
  <ion-buttons (click)="logout()" class="logout">
    <ion-icon class="icon" name="log-out-outline"></ion-icon>
  </ion-buttons>
  <ion-header class="logotoolbar">
  </ion-header>
</ion-toolbar><meta name="viewport" content="width=device-width, initial-scale=1.0"> 


<ion-content class="sfondo" >
  <p class="logo">
 
  </p>
  <ion-row>
    <ion-grid>
      <ion-col>
        <button fill="outline" mode="ios" mode="md" class="center"  [routerLink]="['/live']">
          <h1>
            LIVE
          </h1>
        </button>
 
        <span class="divider line one-line" color="white"> or </span>
 
      <button fill="outline" mode="ios" mode="md" class="center" color="white"  [routerLink]="['/recorder']" >
          <h1>
            RECORDER 
          </h1>
        </button>
      </ion-col>
    </ion-grid>
  </ion-row>
  
</ion-content>