<meta name="viewport" content="width=device-width, initial-scale=1.0">
<ion-buttons (click)="logout()" class="logout">
    <ion-icon class="icon" name="log-out-outline"></ion-icon>
</ion-buttons>
<ion-header class="logotoolbar">
</ion-header>
<ion-content class="sfondo">
    <p class="logo">

    </p>
    <div class="login-form">
        <div class="sign-in-htm">
            <div class="group">
                <input placeholder="Email" id="user" type="text" class="input" [(ngModel)]="artist.email">
            </div>
            <div class="group">
                <input placeholder="Password" id="pass" type="password" class="input" data-type="password" [(ngModel)]="artist.password">
            </div>
            <div class="group">
                <button (click)="loginArtist()" (click)="showloading()" type="submit" class="center">
                    <h1>
                        ACCEDI
                    </h1>
                </button>
            </div>
            <div class="foot-lnk">
                <a [routerLink]="['/forgot-password']" class="small-text">Password dimenticata?</a>
            </div>
        </div>
    </div>
</ion-content>