<ion-toolbar>
    <ion-buttons (click)="logout()" class="logout">
        <ion-icon class="icon" name="log-out-outline"></ion-icon>
    </ion-buttons>
    <ion-header class="logotoolbar">
    </ion-header>
</ion-toolbar>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<ion-header [translucent]="true">

</ion-header>


<ion-content class="sfondo">

    <div class="login-form">
        <div class="sign-in-htm">


            <div class="group">
                <input placeholder="Songname" id="user" type="text" class="input" [(ngModel)]="musiccreatorsCurrent.Songname">
            </div>
            <div class="group">
                <input placeholder="Genres" id="user" type="text" class="input" [(ngModel)]="musiccreatorsCurrent.Genres">
            </div>
            <div class="group">
                <input placeholder="Textsongname" id="user" type="text" class="input" [(ngModel)]="musiccreatorsCurrent.Textsongname">
            </div>
            <div class="group">
                <input placeholder="Songwriter" id="user" type="text" class="input" [(ngModel)]="musiccreatorsCurrent.Songwriter">
            </div>
            <div class="group">
                <input placeholder="Producer" id="user" type="text" class="input"  [(ngModel)]="musiccreatorsCurrent.Producer">
            </div>
            <div class="group">
                <input placeholder="Labels" id="user" type="text" class="input"  [(ngModel)]="musiccreatorsCurrent.Labels">
            </div>

            <div>
                <button (click)="Savedata()" mode="ios" mode="md" class="center">
                    <h1>
                        Send
                    </h1>
                </button>
            </div>
        </div>
    </div>




 <!--    <ion-item lines="full">
        <ion-label position="floating"> Song Name</ion-label>
        <ion-input placeholder="Insert Song Name" type="text" class="input" [(ngModel)]="musiccreatorsCurrent.Songname" #name required>
        </ion-input>
    </ion-item>

    <ion-item lines="full">
        <ion-label position="floating"> Genres</ion-label>
        <ion-input placeholder="Insert Genres" type="text" class="input" [(ngModel)]="musiccreatorsCurrent.Genres" #name required>
        </ion-input>
    </ion-item>

    <ion-item lines="full">
        <ion-label position="floating">Text Song </ion-label>
        <ion-input placeholder="Insert Text Song " type="text" class="input" [(ngModel)]="musiccreatorsCurrent.Textsongname" #name required>
        </ion-input>
    </ion-item>

    <ion-item lines="full">
        <ion-label position="floating">Songwriter </ion-label>
        <ion-input placeholder="Insert Name Songwriter " type="text" class="input" [(ngModel)]="musiccreatorsCurrent.Songwriter" #name required>
        </ion-input>
    </ion-item>

    <ion-item lines="full">
        <ion-label position="floating">Producer </ion-label>
        <ion-input placeholder="Insert Name Producer" type="text" class="input" [(ngModel)]="musiccreatorsCurrent.Producer" #name required>
        </ion-input>
    </ion-item>

    <ion-item lines="full">
        <ion-label position="floating">Labels</ion-label>
        <ion-input placeholder="Insert Labels" type="text" class="input" [(ngModel)]="musiccreatorsCurrent.Labels" #name required>
        </ion-input>
    </ion-item>
    <ion-button (click)="Savedata()">Send </ion-button> -->

</ion-content>